<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<base href="./">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
	<title>Beacon Net</title>
	<!-- Icons-->
	<link rel="stylesheet" type="text/css" href="node_modules/simple-line-icons/css/simple-line-icons.css">
	<!-- Main styles for this application-->
	<link href="css/dist/style.css" rel="stylesheet">
	<link href="css/dist/vendors/pace-progress/pace.min.css" rel="stylesheet">
</head>

<body class="app header-fixed sidebar-fixed aside-menu-fixed sidebar-lg-show">
	<header class="app-header navbar">
		<a class="navbar-brand" href="#">
			<h4 class="logo mb-0">BEACON NET</h4>
		</a>
		<ul class="nav navbar-nav ml-auto">
			<li class="nav-item d-md-down-none">
				<a class="nav-link" href="#"></a>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
					<img class="img-avatar" src="icons/avatar.png" alt="admin@bootstrapmaster.com">
				</a>
				<div class="dropdown-menu dropdown-menu-right">
					<div class="dropdown-header text-center">
						<strong>Account</strong>
					</div>
					<a class="dropdown-item" href="#"><i class="fa fa-lock"></i> Logout</a>
				</div>
			</li>
		</ul>
	</header>

	<div class="app-body">
		<div class="sidebar">
			<nav class="sidebar-nav">
				<ul class="nav">
					<li class="nav-item">
						<a class="nav-link" href="index.html"><i class="nav-icon icon-speedometer"></i>Dashboard</a>
					</li>
					<li class="nav-title">Map Management</li>
					<li class="nav-item">
						<a class="nav-link" href="#"><i class="nav-icon icon-map"></i>2nd Level Concourse</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#"><i class="nav-icon icon-map"></i>Map 2</a>
					</li>
					<li class="nav-title">Beacon Management</li>
					<li class="nav-item"><a class="nav-link" href="#"><i class="nav-icon icon-location-pin"></i>Place and rename beacons</a></li>
					<li class="nav-item"><a class="nav-link" href="#"><i class="nav-icon icon-chart"></i>View beacon connection status</a></li>
				</ul>
			</nav>
			<button class="sidebar-minimizer brand-minimizer" type="button"></button>
		</div>
		<main class="main">
			<!-- Breadcrumb-->
			<ol class="breadcrumb">
				<li class="breadcrumb-item">Home</li>
				<li class="breadcrumb-item"><a href="#">Admin</a></li>
				<li class="breadcrumb-item active">Dashboard</li>
			</ol>
			<div class="container-fluid">
				<div class="animated fadeIn">
					<div class="card">
						<div class="card-body">
							<div class="row">
								<div class="col-sm-5">
									<h4 class="card-title mb-0">Traffic</h4>
									<div class="small text-muted">November 2018</div>
									<div class="small text-muted">Map: Second level concourse</div>
									<div class="small text-muted" id="filterdisplaytitle">Filter:</div>
									<div class="small text-muted" id="filterdisplay1"></div>
									<div class="small text-muted" id="filterdisplay2"></div>
								</div>
								<div class="col-sm-7 d-none d-md-block">
									<!-- Trigger/open filter modal -->
									<div class="btn btn-primary float-right" data-toggle="modal" data-target="#filterModal">
										<img class="filter-btn" src="icons/cloud-download.png" title="Filter map" alt="Filter map">
									</div>
									<div class="btn-group btn-group-toggle float-right mr-3" data-toggle="buttons">
										<label class="btn btn-outline-secondary">
											<input id="option1" type="radio" name="options" autocomplete="off"> Day
										</label>
										<label class="btn btn-outline-secondary active">
											<input id="option2" type="radio" name="options" autocomplete="off" checked=""> Month
										</label>
										<label class="btn btn-outline-secondary">
											<input id="option3" type="radio" name="options" autocomplete="off"> Year
										</label>
									</div>
								</div>
							</div>
						</div>
						<div class="card-footer">
							<div class="row text-center">
								<div class="col-sm-12 col-md mb-sm-2 mb-0">
									<div class="text-muted">New Visitors</div>
									<strong>123,000 (40%)</strong>
									<div class="progress progress-xs mt-2">
										<div class="progress-bar bg-success" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
									</div>
								</div>
								<div class="col-sm-12 col-md mb-sm-2 mb-0">
									<div class="text-muted">Returning Visitors</div>
									<strong>85,000 (20%)</strong>
									<div class="progress progress-xs mt-2">
										<div class="progress-bar bg-info" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
									</div>
								</div>
								<div class="col-sm-12 col-md mb-sm-2 mb-0">
									<div class="text-muted">Average Traffic Flow</div>
									<div class="progress progress-xs mt-2">
										<div class="progress-bar bg-warning" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
									</div>
								</div>
								<!-- <div class="col-sm-12 col-md mb-sm-2 mb-0">
                    <div class="text-muted">Average Time Spent</div>
                    <strong>6.5 hours</strong>
                    <div class="progress progress-xs mt-2">
                      <div class="progress-bar bg-avgtime" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div> -->
								<!-- <div class="col-sm-12 col-md mb-sm-2 mb-0">
                    <div class="text-muted">Stat 5</div>
                    <strong>40.15%</strong>
                    <div class="progress progress-xs mt-2">
                      <div class="progress-bar" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div> -->
							</div>
						</div>
					</div>
					<!-- /.card-->
					<div class="row">
						<div class="col-md-12">
							<div class="card">
								<div class="card-header">Visitor Stats</div>
								<div class="card-body">
									<div class="row">
										<div class="col-sm-6">
											<div class="row">
												<div class="col-sm-6">
													<div class="callout callout-info">
														<small class="text-muted">New Visitors</small>
														<br>
														<strong class="h4">9,123</strong>
														<div class="chart-wrapper">
															<canvas id="sparkline-chart-1" width="100" height="30"></canvas>
														</div>
													</div>
												</div>
												<!-- /.col-->
												<div class="col-sm-6">
													<div class="callout callout-danger">
														<small class="text-muted">Returning Visitors</small>
														<br>
														<strong class="h4">22,643</strong>
														<div class="chart-wrapper">
															<canvas id="sparkline-chart-2" width="100" height="30"></canvas>
														</div>
													</div>
												</div>
												<!-- /.col-->
											</div>
											<!-- /.row-->
											<hr class="mt-0">
											<div class="progress-group mb-4">
												<div class="progress-group-prepend">
													<span class="progress-group-text">Monday</span>
												</div>
												<div class="progress-group-bars">
													<div class="progress progress-xs">
														<div class="progress-bar bg-nv" role="progressbar" style="width: 34%" aria-valuenow="34" aria-valuemin="0" aria-valuemax="100"></div>
													</div>
													<div class="progress progress-xs">
														<div class="progress-bar bg-danger" role="progressbar" style="width: 78%" aria-valuenow="78" aria-valuemin="0" aria-valuemax="100"></div>
													</div>
												</div>
											</div>
											<div class="progress-group mb-4">
												<div class="progress-group-prepend">
													<span class="progress-group-text">Tuesday</span>
												</div>
												<div class="progress-group-bars">
													<div class="progress progress-xs">
														<div class="progress-bar bg-nv" role="progressbar" style="width: 56%" aria-valuenow="56" aria-valuemin="0" aria-valuemax="100"></div>
													</div>
													<div class="progress progress-xs">
														<div class="progress-bar bg-danger" role="progressbar" style="width: 94%" aria-valuenow="94" aria-valuemin="0" aria-valuemax="100"></div>
													</div>
												</div>
											</div>
											<div class="progress-group mb-4">
												<div class="progress-group-prepend">
													<span class="progress-group-text">Wednesday</span>
												</div>
												<div class="progress-group-bars">
													<div class="progress progress-xs">
														<div class="progress-bar bbg-nv" role="progressbar" style="width: 12%" aria-valuenow="12" aria-valuemin="0" aria-valuemax="100"></div>
													</div>
													<div class="progress progress-xs">
														<div class="progress-bar bg-danger" role="progressbar" style="width: 67%" aria-valuenow="67" aria-valuemin="0" aria-valuemax="100"></div>
													</div>
												</div>
											</div>
											<div class="progress-group mb-4">
												<div class="progress-group-prepend">
													<span class="progress-group-text">Thursday</span>
												</div>
												<div class="progress-group-bars">
													<div class="progress progress-xs">
														<div class="progress-bar bg-nv" role="progressbar" style="width: 43%" aria-valuenow="43" aria-valuemin="0" aria-valuemax="100"></div>
													</div>
													<div class="progress progress-xs">
														<div class="progress-bar bg-danger" role="progressbar" style="width: 91%" aria-valuenow="91" aria-valuemin="0" aria-valuemax="100"></div>
													</div>
												</div>
											</div>
											<div class="progress-group mb-4">
												<div class="progress-group-prepend">
													<span class="progress-group-text">Friday</span>
												</div>
												<div class="progress-group-bars">
													<div class="progress progress-xs">
														<div class="progress-bar bg-nv" role="progressbar" style="width: 22%" aria-valuenow="22" aria-valuemin="0" aria-valuemax="100"></div>
													</div>
													<div class="progress progress-xs">
														<div class="progress-bar bg-danger" role="progressbar" style="width: 73%" aria-valuenow="73" aria-valuemin="0" aria-valuemax="100"></div>
													</div>
												</div>
											</div>
											<div class="progress-group mb-4">
												<div class="progress-group-prepend">
													<span class="progress-group-text">Saturday</span>
												</div>
												<div class="progress-group-bars">
													<div class="progress progress-xs">
														<div class="progress-bar bg-nv" role="progressbar" style="width: 53%" aria-valuenow="53" aria-valuemin="0" aria-valuemax="100"></div>
													</div>
													<div class="progress progress-xs">
														<div class="progress-bar bg-danger" role="progressbar" style="width: 82%" aria-valuenow="82" aria-valuemin="0" aria-valuemax="100"></div>
													</div>
												</div>
											</div>
											<div class="progress-group mb-4">
												<div class="progress-group-prepend">
													<span class="progress-group-text">Sunday</span>
												</div>
												<div class="progress-group-bars">
													<div class="progress progress-xs">
														<div class="progress-bar bg-nv" role="progressbar" style="width: 9%" aria-valuenow="9" aria-valuemin="0" aria-valuemax="100"></div>
													</div>
													<div class="progress progress-xs">
														<div class="progress-bar bg-danger" role="progressbar" style="width: 69%" aria-valuenow="69" aria-valuemin="0" aria-valuemax="100"></div>
													</div>
												</div>
											</div>
										</div>
										<!-- /.col-->
										<div class="col-sm-6">
											<div class="row">
												<div class="col-sm-6">
													<div class="callout callout-warning">
														<small class="text-muted">Average Time Spent</small>
														<br>
														<strong class="h4">4 hours</strong>
														<div class="chart-wrapper">
															<canvas id="sparkline-chart-3" width="100" height="30"></canvas>
														</div>
													</div>
												</div>
												<!-- /.col-->
												<!-- <div class="col-sm-6">
                            <div class="callout callout-success">
                              <small class="text-muted">Stat 4</small>
                              <br>
                              <strong class="h4">49,123</strong>
                              <div class="chart-wrapper">
                                <canvas id="sparkline-chart-4" width="100" height="30"></canvas>
                              </div>
                            </div>
                          </div> -->
												<!-- /.col-->
											</div>
											<!-- /.row-->
											<hr class="mt-0">
											<div class="progress-group">
												<div class="progress-group-header">
													<i class="icon-user progress-group-icon"></i>
													<div>New Visitors</div>
													<div class="ml-auto font-weight-bold">5 hours</div>
												</div>
												<div class="progress-group-bars">
													<div class="progress progress-xs">
														<div class="progress-bar bg-warning" role="progressbar" style="width: 43%" aria-valuenow="43" aria-valuemin="0" aria-valuemax="100"></div>
													</div>
												</div>
											</div>
											<div class="progress-group mb-5">
												<div class="progress-group-header">
													<i class="icon-user-female progress-group-icon"></i>
													<div>Returning Visitors</div>
													<div class="ml-auto font-weight-bold">3 hours</div>
												</div>
												<div class="progress-group-bars">
													<div class="progress progress-xs">
														<div class="progress-bar bg-warning" role="progressbar" style="width: 25%" aria-valuenow="43" aria-valuemin="0" aria-valuemax="100"></div>
													</div>
												</div>
											</div>
											<!-- <div class="progress-group">
                          <div class="progress-group-header align-items-end">
                            <i class="icon-globe progress-group-icon"></i>
                            <div>Lorem ipsum</div>
                            <div class="ml-auto font-weight-bold mr-2">191.235</div>
                            <div class="text-muted small">(56%)</div>
                          </div>
                          <div class="progress-group-bars">
                            <div class="progress progress-xs">
                              <div class="progress-bar bg-success" role="progressbar" style="width: 56%" aria-valuenow="56" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                          </div>
                        </div>
                        <div class="progress-group">
                          <div class="progress-group-header align-items-end">
                            <i class="icon-social-facebook progress-group-icon"></i>
                            <div>Lorem ipsum</div>
                            <div class="ml-auto font-weight-bold mr-2">51.223</div>
                            <div class="text-muted small">(15%)</div>
                          </div>
                          <div class="progress-group-bars">
                            <div class="progress progress-xs">
                              <div class="progress-bar bg-success" role="progressbar" style="width: 15%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                          </div>
                        </div>
                        <div class="progress-group">
                          <div class="progress-group-header align-items-end">
                            <i class="icon-social-twitter progress-group-icon"></i>
                            <div>Lorem ipsum</div>
                            <div class="ml-auto font-weight-bold mr-2">37.564</div>
                            <div class="text-muted small">(11%)</div>
                          </div>
                          <div class="progress-group-bars">
                            <div class="progress progress-xs">
                              <div class="progress-bar bg-success" role="progressbar" style="width: 11%" aria-valuenow="11" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                          </div>
                        </div>
                        <div class="progress-group">
                          <div class="progress-group-header align-items-end">
                            <i class="icon-social-linkedin progress-group-icon"></i>
                            <div>Lorem ipsum</div>
                            <div class="ml-auto font-weight-bold mr-2">27.319</div>
                            <div class="text-muted small">(8%)</div>
                          </div>
                          <div class="progress-group-bars">
                            <div class="progress progress-xs">
                              <div class="progress-bar bg-success" role="progressbar" style="width: 8%" aria-valuenow="8" aria-valuemin="0" aria-valuemax="100"></div>
                            </div> -->
										</div>
									</div>
								</div>
								<!-- /.col-->
							</div>
							<!-- /.row-->
						</div>
					</div>
		</main>
		<!-- Filter Modal -->
		<div class="modal fade" id="filterModal" tabindex="-1" role="dialog" aria-labelledby="filtereModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="filtereModalLabel">Filter map locations</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="row">
							<!-- Left column -->
							<div class="col-md-6">
								<p>Point A</p>
								<form>
									<p><label><input type="checkbox" value="Ticket counter" name="locationA"> Ticket counter</label></p>
									<p><label><input type="checkbox" value="Security" name="locationA"> Security</label></p>
									<p><label><input type="checkbox" value="Gate A" name="locationA"> Gate A</label></p>
									<p><label><input type="checkbox" value="Gate B" name="locationA"> Gate B</label></p>
									<p><label><input type="checkbox" value="Gate C" name="locationA"> Gate C</label></p>
									<p><label><input type="checkbox" value="Baggage claim" name="locationA"> Baggage claim</label></p>
								</form>
							</div>
							<div class="col-md-6">
								<p>Point B</p>
								<form>
									<p><label><input type="checkbox" value="Ticket counter" name="locationB"> Ticket counter</label></p>
									<p><label><input type="checkbox" value="Security" name="locationB"> Security</label></p>
									<p><label><input type="checkbox" value="Gate A" name="locationB"> Gate A</label></p>
									<p><label><input type="checkbox" value="Gate B" name="locationB"> Gate B</label></p>
									<p><label><input type="checkbox" value="Gate C" name="locationB"> Gate C</label></p>
									<p><label><input type="checkbox" value="Baggage claim" name="locationB"> Baggage claim</label></p>
								</form>
							</div>
							<form id="filter-date-form">
								From
								<input type="date" name="filter-from">
								To
								<input type="date" name="filter-to">
							</form>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" id="filterbtnapply">Apply filter</button>
						<button type="button" class="btn btn-secondary" id="filterbtnclear">Clear filter</button>
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
		<!-- Add Map Modal -->
		<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="addModalLabel">Upload Map</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						...
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						<button type="button" class="btn btn-primary">Apply filter</button>
					</div>
				</div>
			</div>
		</div>
		<!-- CoreUI and necessary plugins-->
		<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
		<script src="node_modules/jquery/dist/jquery.min.js"></script>
		<script src="node_modules/popper.js/dist/umd/popper.min.js"></script>
		<script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
		<script src="node_modules/pace-progress/pace.min.js"></script>
		<script src="node_modules/perfect-scrollbar/dist/perfect-scrollbar.min.js"></script>
		<script src="node_modules/@coreui/coreui/dist/js/coreui.min.js"></script>
		<!-- Plugins and scripts required by this view-->
		<script src="node_modules/chart.js/dist/Chart.min.js"></script>
		<script src="node_modules/@coreui/coreui-plugin-chartjs-custom-tooltips/dist/js/custom-tooltips.min.js"></script>
		<script src="js/dist/main.min.js"></script>
		<script src="js/dist/filter.min.js"></script>
</body>

</html>